*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #fff;  
    color: #373867; 
}
p{
    line-height:1.6em;
}
/*-------------------------------------Header--*/
header{
    position:fixed;
    z-index: 2;
    background-color: #373867;
    color: #AACE9B;   
    width: 100%;
    height: 116.21px;
    border-radius: 0px 0px 15px 15px;
    display: inline-block;
}
.logoHeader{
    position: relative;   
    width: 279px;
    left: 58px; 
    top:11px;
}
.logos-social{
    display: block;
    position: relative;
    float: right;
    width: 225px;    
    top: 32px;
    right: 26px;
}
a{
    text-decoration: none;
    font-style: none;
}
a:hover{
    color: #46a37c;
}
/*-------------------------------------Aside--*/
aside{
    position:fixed;
    top: 90px;
    width:253px;
    height:509px;
    background-color: #dfd4de;    
    margin-left: 20px;    
    border-radius:0px 0px 15px 15px;
    font-size: 15px;
}
#home{
    text-decoration: underline;
}
.sectionUl{
    position: relative;
    top:49px;   
    left: 29px;
}
.sectionUl ul{
    list-style: none;
}
.sectionUl li{
    padding-bottom: 18px;
}
.sectionUl h3{
    text-decoration: underline;
    margin-bottom: 18px;
}
.sectionGet{
    position: relative;
    top: 60px;
    left: 29px;
}
.sectionGet h3{
    text-decoration: underline;
}
#textGet{
    font-size: 10px;
    margin-top: 10px;
    line-height: 1.5;
    width:197px;
    font-weight:100;
}
.sectionInfo{
    position: relative;
    top: 65px;
    left: 29px;
    margin-top:20px;
    font-size: 12px;
}
.sectionInfo a{
    color: #373867;
    margin-left:10px;    
}
.sectionInfo img{
    margin-bottom:10px;
}
.divInfo{
    display: inline-block;
}
.divInfo p{
    width: 162px;
    display: inline-block;
    margin-top:10px;
    margin-left:9px;
}
.sectionForm{
    padding-left: 326px;
}
.form-group{
    padding-top: 29px;
    padding-bottom:19px;
}
/*--------------------------------------Main--*/
main{
    position: relative;
    top: 116px;
    left: 278px;
    right: 22px;
    width: 1202px;
    margin-left: 42px;  
}
/*---------------------------------Section 1--*/
.section1{
    height: 530px;
    border-bottom: 2px solid #373867;
}
.section1 h1{
    font-size:40px;
    font-weight:normal;
    margin-bottom:17px;
    padding-top: 50px;
    padding-left: 30px;
}
#letterH1{
    font-weight: bold;
}
.section1 h3{
    padding-left: 30px;
    font-weight: normal;
    font-size: 20px;
    display: inline-block;
}
.section1 p{
    padding-left: 30px;
    width: 533px;
    padding-top: 61px;
    font-size:20px;
    font-weight:300;
}
.section1 img{
    position: relative;
    bottom: 200px;
    left: 650px;
    height: 332px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.section1 a{
    position: relative;
    right: 70px;
    bottom: 200px;
    font-size: 15px;
    padding: 14px 36px;
}
.learnMore{
    border: #373867 solid 3px;
    border-radius: 2px;
    padding-bottom: 20px;
    font-weight: bold;
}
.learnMore:hover{
    background-color: #AACE9B;
    color: #373867;
}
/*----------------------------------Section 2--*/
.section2{
    height: 530px;
    border-bottom: 2px solid #373867;
}
.section2 h2{    
    width:115px;
    padding-left: 30px;
    padding-top: 18px;
    margin-bottom: 43px;
    font-size: 25px bold; 
}
.section2 article{    
    display:inline-block;
    width: 40%;
    padding-left: 30px;
    padding-bottom: ;
}
.article2 img{
    display:inline-block;
    width:100px;
    margin-top: 10px;
    float: left;
}
.article2 p{
    font-size: 12px;
    font-weight: 100;
    width: 237px;
    margin-top:5px;
    line-height: 15px;
    border-top: 2px solid #373867;
    padding-top:7px;
}
.section2 h4{
    font-size: 20px;
    width: 237px;
}
.article2 div{
    width: 40%;
    display: inline-block;
    padding-left:31px;
    padding-bottom: 60px;
    margin-top: 13px;
}
/*----------------------------------Section 3--*/
.section3{
    display: inline;
    height: 530px;    
    overflow: auto;
    overflow-y: hidden;
    border-bottom: 2px solid #373867;
}
.scrollSection{
    overflow: auto;
    white-space:nowrap;
}
.section3 h2{
    padding-top: 18px; 
    padding-left: 30px;
    font-size: 25px bold;
}
.section3 img{
    width: 453px;
    height: 315px;
    padding-top: 16px;
    border-radius: 5px;
}
.section3 article{
    display: inline-block;
    padding-left: 30px;
    margin-right: 122px;
    margin-bottom: 10px;
}
.section3 h3{
    padding-top: 14px;
    font-size: 20px;
    font-weight: bold;
}
.section3 p{
    white-space: normal;
    width: 450PX;
    line-height: 0.9;
    padding-top:5px;
    padding-bottom: 10px;
}
.section3 a{
    position: relative;
    font-size: 15px;
    border: #373867 solid 3px;
    margin-bottom:32px;
    margin-left: 188px;
    padding: 6px 16px ;
    color: #373867;
    font-weight: bold;
    border-radius: 5px;
}
.section3 a:hover{
    background-color: #AACE9B;
}
.scrollSection article{
    display: inline-block;
}
/*---------------------------------Section 4--*/
.section4{
    width: 1017px;
    height: 300px;
    border-top: 2px solid #373867;
    border-bottom: 2px solid #373867;
    margin-top: 15px;
}
.section4 h2{
    padding-top: 18px; 
    padding-left: 30px;
    font-size: 25px bold;
}
.formLabel{
    display: inline-block;
    float: left;    
    width: 395px;
    padding-left: 30px;
    padding-right: 100px;
}
.labelMessage{
    display: block;
    pl
}
.label{
    display: block;
}
input{
    width:100%;
}
textarea{
    width: 395px;
    height: 100px; 
}
label{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
    padding-top: 29px;
    padding-right: 60px;
}
fieldset{
    display: inline-block;
    width:auto;
    border:0;
}
.contactArea input{
    display: inline-block;
}
.contactArea{
    padding-left: 30px;
}
.checks input{
    width: auto;
    margin-right:12px;
}
.checks{
    padding-top: 10px;    
}
.buttonChecks{
    width: 109px;
    height: 24px;
}
#reset{
    background-color: #fff;
    border: #373867 solid 2px;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    margin-left:159px;
}
#submit{
    background-color: #373867;
    border: #373867 solid 2px;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;    
}
.contactArea{
    padding-top: 10px;
}
/*-----------------------------------Section 5--*/
.section5{
    width: 1017px;
    height: 450px;
    padding-left: 30px;
    border-bottom: 2px solid #373867;
}
.section5 img{
    height: 250px;
    width: 377px;
    position: relative;
    display: inline;
    float: right;
    padding-top:10px;
    border-radius: 5px;
}
.section5 h2{
    padding-top: 18px;

}
.section5 p{
    width: 50%;
    padding-top: 16px;
}
.section5 h3{
    padding-top: 20px;
    padding-bottom: 16px;
    font-weight: normal;
}
#titleStory{
    padding-top: 50px;
}
#paragraphStory{
    display: inline;
    width: 100%;
}
/*-----------------------------------Section 6--*/
.section6{
    display: inline-block;
    width: 1017px;
    height: 450px;
    padding-left: 30px;
    border-bottom: 2px solid #373867;
}

.divSection6{
    display: inline;
    width: 100%;
}