main {
    width: 90%;
    margin: auto;
}
.section-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #373867;
}
.section-main img {
    display: flex;
    width: 270px;
    margin: auto;
    padding-bottom: 15px;
}
.section-main h1 {
    padding-top: 10px;
}
.section-main h3 {
    font-size: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
#letter-h1{
    font-weight: bold;
}
.section-main p {
    font-size: 10px;
    width: 337px;
    line-height: 1.2;
    font-weight:300;
    padding-left: 32px;   
    padding-top: 9px;
    padding-bottom: 10px; 
}
.section-main a {
    font-size: 6px;
    padding: 5px 14px;
    margin-bottom: 15px;
    text-decoration: none;
}
.learn-more{
    background-color: #fff;
    font-style: 6px;
    border: #373867 solid 2px;
    border-radius: 5px;
    padding-bottom: 20px;
    font-weight: bold;
}
.learn-more:hover{
    background-color: #373867;
    color: #fff;
    font-weight: normal;
}
.section-container {
    border-bottom: 2px solid #373867;
}
.section-container h2 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 20px;
}
.section-container img {
    display: flex;
    width: 90px;
}
.section-container h4 {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #373867;
    width: 100%;
    padding-bottom: 5px;
}
.section-container p {
    font-size: 12px;
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
    font-weight: 300;
}
.article-serv {
    display: flex;
    flex-direction: row;
}
.div-article article:nth-child(even) {
    flex-direction: row-reverse;
}
.div-article article:nth-child(odd) img {
    margin-left: 10px;
}
.div-article article:nth-child(even) img {
    margin-right: 10px;
}
.div-article {
    padding-top: 9px;
}
.div-article article {
    padding-bottom: 11px;
}
.section-3 h2 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 11px;
    padding-bottom: 20px;
}
.scroll-section h3 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 8px;
}
.div-scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.div-scroll p {
    font-size: 12px;
    width: 78%;
    line-height: 1.5;
}
.div-scroll a {
    text-decoration: none;
    border: 2px solid #373867;
    height: 70%;
    font-size: 15px;
    padding: 6px 16px 6px 16px;
    border-radius: 5px;
}
.scroll-section article {
    border-bottom: 1px solid #373867;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.section-form {
    margin-top: 12px;
    border-bottom: 2px solid #373867;
}
.section-form h2 {
    font-size: 20px;
    font-weight: bold;
}
.form-label {
    display: flex;
    flex-direction: column;
}
.form-label input {
    height: 25px;
    margin-top: 7px;
}
.form-label label {
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
}
.contact-area {
    margin-top: 7px 17px;
}
.contact-area label {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    padding-right: 10px;
}
.contact-area h3 {
    margin-top: 8px;
    font-weight: bold;
    padding-bottom: 7px;
}
.div-text {
    display: flex;
    flex-direction: column;  
    margin-bottom: 12px;
}
.div-text label {
    margin-top: 7px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 7px;
}
.div-text textarea {
    height: 100px;
}
.div-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.div-buttons input {
    width: 82px;
    height: 18px;
    font-size: 14px;
    border-radius: 5px;
    border-color: #373867;
    margin-bottom: 12px;
}
#reset {
    color: #373867;
    font-weight: normal;
    margin-right: 9px;
}
#submit {
    background-color: #373867;
    color: #fff;
}
.section-story {
    border-bottom: 2px solid #373867;
}
.section-story h2 {
    font-size: 20px;
    font-weight: bold;
    padding: 9px 0 3px 8px;
}
.div-story {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 10px;
}
.div-story img {
    display: block;
    width: 324px;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
    padding-bottom: 12px;
}
.div-story h3 {
    padding: 5px 0 3px 8px;
    text-transform: uppercase;
    font-size: 15px;
}
.div-story p {
    padding: 0 0 5px 8px;
    font-size: 12px;
}
.section-links {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #373867;
    padding-bottom: 12px;
}
.section-links div {
    padding-top: 12px;
    margin-left: 40px;
    font-size: 15px;
}
.div-section-links h3 {
    font-weight: bold;
    text-decoration: underline;
}
.section-links ul {
    list-style: disc;
    text-decoration: none;
    padding-left: 20px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: roboto;
}
.icons-footer img {
    display: inline;
    width: 30px;
    height: 30px;
    margin: 19px 0 18px 0;
}
.footer address {
    padding-bottom: 20px;
}





 
