header {
    background-color: #373867;
    color: #AACE9B;   
    width: 100%;
    border-radius: 0 0 15px 15px;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
}


header img {
    display: flex;
    width: 80%; 
    margin: auto;   
}

.logos-social {
    display: none;
}
@media screen and (min-width: 480px){
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 0px;
    }
    .logo-header {
        width: 50%;
        margin-top: 20px;
    }
    .logos-social img {
        display: block;
        justify-content: start;
    }    
    .logos-social {
        display: flex;
        justify-content: space-between;
        width: 28%;
        margin-right: 15px;
        justify-content: end;
    }
    .logos-social a {
        display: flex;
        justify-content: center;
        width: 22%;
        height: fit-content;
        margin-top: 20px;
    }
    header button {
        margin: auto;        
        margin-bottom: 5px;
        order: 1;
        width: 100%;
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 1;
        height: 116.21px;
    }
    .logo-header img {
        width: 400px;
        justify-content: start;
        height: fit-content;
    }
    button {
        display: none;
    }
    .display-flex {
        display: flex;
        width: 100%;
    }
    .logos-social a {
        width: 50px;
    }
}
