.form-login {
    display: flex;
    flex-direction: column;
    border: none;
    width: 75%;
    border-radius: 3px;
    box-shadow: 0 2px 10px 1px;
    margin: auto;
}
.form-login h2 {
    margin: auto;
    padding: 40px 0 50px 0;
    font-size: 30px;
    font-weight: normal;
    text-transform: capitalize;
}
.form-login img {
    display: flex;
    width: 25px;
}
.form-login div {
    display: flex;
    flex-direction: row;
    padding: 40px 0 25px 0;
    justify-content: center;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}
.input {
    width: 100%;    
    border-bottom: #373867 1px solid;
    align-items: flex-end;    
}
.input input {
    width: 90%;
    border: none;
}
.form-login .input-checkbox {
    margin: 10px 70px;
    width: 30%;
    justify-content: start;
    align-items: center;
    color: #373867;
    font-family: roboto, serif;
}
#check {
    width: 20px;
    height: 20px;
    margin: 5px;
}
.button-continue {
    display: flex;
    margin: auto;
    background-color: #AACE9B;
    width: 65%;
    border-radius: 2px;
    color: #373867;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.form-login a {
    margin: auto;
    padding: 30px 0 5px 25px;
    text-decoration: none;
    border-bottom: 1px solid #373867;
    width: 60%;
    font-size: 14px;
}
.div-reset-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    